@page "/primes"
@using MyLibrary

<h1>Primes</h1>

<p>
    Get Nth prime: <input type="number" bind=@n />
    <button class="btn btn-primary" onclick="@Compute">Compute</button>
</p>

<p>
    Output:
    <pre>@log</pre>
</p>

@functions {
    int n = 10;
    string log;

    void Compute()
    {
        var start = DateTime.Now;
        var result = Test.RunComputation(n);
        var duration = (DateTime.Now - start).TotalMilliseconds;

        log += $"\nThe {n}th prime is: {result} (time: {duration}ms)";
    }
}
